## This is an exetension of the TC2 Config file for Direwolf
## Target is a DigiRig

# # # # SOUNDCARD SETTINGS # # # #

# If using a soundcard device like the DigiRig or Ham Radio with built-in soundcard (Icom 705, Yaesu 991, etc)
# run the command   arecord -l   and take note of card # and subdevice # for your device
# Below is an example of card 1 and Subdevice #0

ADEVICE  plughw:1,0


# # # # # # # # # # # # # # # # # #
# # # # CHANNEL 0 SETTINGS # # # #
# # # # # # # # # # # # # # # # # #
CHANNEL 0

# Change N0CALL to your callsign with an SSID (ex. N0CALL-1)
MYCALL W7PDJ-10

# Modem speed
MODEM 1200

# PTT Device
PTT /dev/ttyUSB0 RTS

# TNC Server Options
AGWPORT 8000
KISSPORT 8001

#IGATE STUFF
IGSERVER noam.aprs2.net
IGLOGIN W7PDJ-10 16017

#INTERNET -> RF
IGTXVIA 0 WIDE1-1


# # # # FIXED POSIION BEACONING PROPERTIES # # # #

# Position Beacon example that transmits your digipeater info every 30 min
PBEACON delay=1  every=15 overlay=S symbol="digi" lat=45.41241338119299 long=-122.75750624440762 power=5 height=35 gain=5 comment="ID-5100 1/4wv grou
nd plane" via=WIDE1-1

# Custom Beacon example that transmits your callsign in morse code every 30 min
#CBEACON delay=1  every=30 dest="MORSE-6" info="de MYCALL"

# Object Beacon example that transmits info on a local repeater every 30 min
#PBEACON delay=1 every=1 OBJNAME=W7PDJ LAT=45^41.24N LONG=122^75.75W SYMBOL=/r COMMENT=”www.w7pdj.com”

# # # # APRS DIGIPEATER PROPERTIES # # # #
DIGIPEAT 0 0 ^WIDE[5-7]-[1-7]$ ^WIDE[1-4]-[1-4]$